<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <title>show datatable</title>
</head>
<body>
    <center><h2>Shorted Data according To First_Name</h2></center>
    <table class="table table-striped table">
        <thead>
          <tr>
            <th >id</th>
            <th >firstname</th>2
            <th>lastname</th>
            <th >email</th>
            <th >contact</th>
            <th >adress</th>
            <th>edit</th>
            <th>delete</th>
          </tr>
        </thead>
        {% if key1 %}
        <tbody>
            {% for i in key1 %}
          <tr>
            <td>{{i.id}}</td>
            <td>{{i.firstname}}</td>
            <td>{{i.lastname}}</td>
            <td>{{i.email}}</td>
            <td>{{i.contact}}</td>
            <td>{{i.adress}}</td>

            <td>
               <form name="Editform" action= "{% url 'Editpage' pk=i.id  %}" method="post">
                {% csrf_token %}
                 <input type="submit" value="Update">
               </form>
            </td>
            <td>
              <form name="deleteform" action="{% url 'delete' pk=i.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Delete">
              </form>
           </td>
          </tr>
          
          {% endfor %}
        </tbody>
        {% endif %}
      </table>
    
</body>
</html>